<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>SCI - Sistema de Controle Ambiental</title>

<!-- Bootstrap Core CSS -->
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />

<!-- MetisMenu CSS -->
<link th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet" />

<!-- Custom CSS -->
<link th:href="@{/dist/css/sb-admin-2.css}" rel="stylesheet" />

<!-- Morris Charts CSS -->
<link th:href="@{/vendor/morrisjs/morris.css}" rel="stylesheet" />

<!-- Custom Fonts -->
<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"
	rel="stylesheet" type="text/css" />

</head>

<body>

	<div id="wrapper">

		<!-- Navigation -->
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html">SCI Admin</a>
			</div>

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li class="sidebar-search">
							<div class="input-group custom-search-form">
								<input type="text" class="form-control" placeholder="Search..." />
								<span class="input-group-btn">
									<button class="btn btn-default" type="button">
										<i class="fa fa-search"></i>
									</button>
								</span>
							</div> <!-- /input-group -->
						</li>
						<li><a href="index.html"><i class="fa fa-dashboard fa-fw"></i>
								Painel</a></li>
						<li><a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>
								Cadastros<span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><a th:href="@{/equipamentos}">Equipamentos</a></li>
							</ul></li>
						<li><a th:href="@{/logout}"><i class="fa fas fa-sign-out fa-fw"></i>
								Sair</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Painel</h1>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<i class="fa fa-user fa-fw"></i> <label th:text="'Olá, ' + ${usuario}" />
					</div>
					<div class="panel-body"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Metis Menu Plugin JavaScript -->
	<script th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>

	<!-- Morris Charts JavaScript -->
	<script th:src="@{/vendor/raphael/raphael.min.js}"></script>
	<script th:src="@{/vendor/morrisjs/morris.min.js}"></script>
	<script th:src="@{/data/morris-data.js}"></script>

	<!-- Custom Theme JavaScript -->
	<script th:src="@{/dist/js/sb-admin-2.js}"></script>
</body>

</html>
