<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
	<form class="form-horizontal" action="#" th:action="@{/equipamentos}"
		th:object="${dtoEquipamento}" method="POST">
		<div class="panel-body">
			
				<!-- Prepended text-->
				<div class="form-group">
					<label class="col-md-1 control-label" for="nome">Nome <h11>*</h11>
					</label>
					<div class="col-md-3">
						<input th:field="*{nome}" id="profissao" name="nome" type="text" placeholder=""
							class="form-control input-md" required />

					</div>

					<label class="col-md-1 control-label" for="horimetro">Horímetro</label>
					<div class="col-md-3">
						<input th:field="*{horimetro}" id="horimetro" name="horimetro" type="text" placeholder=""
							class="form-control input-md" required />
					</div>
				</div>


				<div class="form-group">
					<label class="col-md-1 control-label" for="detalhe">Detalhe
						<h11>*</h11>
					</label>
					<div class="col-md-7">
						<textarea th:field="*{tipoEquipamento.detalhe}" id="detalhe" name="detalhe" placeholder=""
							class="form-control input-md" required type="text"></textarea>
					</div>
				</div>


				<!-- Search input-->
				<div class="form-group">
					<label class="col-md-1 control-label" for="marca">Marca <h11>*</h11></label>
					<div class="col-md-2">
						<input th:field="*{tipoEquipamento.marca}" id="marca" name="marca" class="form-control input-md"
							required value="" style="text-transform:uppercase">
					</div>

					<label class="col-md-1 control-label" for="modelo">Modelo <h11>*</h11></label>
					<div class="col-md-2">
						<input th:field="*{tipoEquipamento.modelo}" id="modelo" name="modelo" class="form-control input-md"
							required style="text-transform:uppercase">
					</div>

					<label class="col-md-1 control-label" for="serie">Série <h11>*</h11></label>
					<div class="col-md-1">
						<input th:field="*{tipoEquipamento.serie}" id="serie" name="serie" class="form-control input-md"
							required value="" type="search" maxlength="10" style="text-transform:uppercase">
					</div>
				</div>

				<!-- Button (Double) -->
				<div class="form-group">
					<label class="col-md-1 control-label" for="Cadastrar"></label>
					<div class="col-md-8">
						<button id="Cadastrar" name="Cadastrar" class="btn btn-success"
							type="Submit">Cadastrar</button>
						<a class="btn btn-danger" id="Cancelar" name="Cancelar"
							th:href="@{/equipamentos}">Cancelar</a>					
					</div>
				</div>

		</div>
	</form>

	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
</body>
</html>