<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->
</head>
<body>

	<div class="panel-body">
		<div class="form-group">
			<div class="col-md-8">
				<a class="btn btn-success mb-3" th:href="@{/equipamentos/novo}">Cadastrar</a>
				</li> <br />
			</div>
			<div class="col-md-8">
				<table class="table table-striped">
					<thead>
						<tr>																	
							<th scope="col">Nome</th>
							<th scope="col">Horímetro</th>
							<th scope="col">Marca</th>
							<th scope="col">Modelo</th>
							<th scope="col">Série</th>
							<th scope="col">Detalhes</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="equipamento : ${equipamentos}">													
							<td th:text="${equipamento.nome}"/>
							<td th:text="${equipamento.horimetro}"/>
							<td th:text="${equipamento.tipoEquipamento.marca}"/>
							<td th:text="${equipamento.tipoEquipamento.modelo}"/>
							<td th:text="${equipamento.tipoEquipamento.serie}"/>
							<td th:text="${equipamento.tipoEquipamento.detalhe}"/>
						</tr>						
					</tbody>
				</table>
				<a th:href="@{/}" class="btn-primary btn btn-sm">Voltar</a>
			</div>
			
		</div>		

	</div>


	<!-- jQuery -->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
</body>
</html>